<div class="container">
    <div class="header row">
        <div class="head col-10">
            <h1>
                {{title}}
            </h1>
        </div>

        <div class="logout col-2">
            <img src="assets/img/sign out.png" width="37" height="37" (click)="logOut()">

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="position">
                <p>
                   {{positionDetail}}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="logout">
    <img src="assets/img/sign out.png">
</div> -->