*{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em ;
}
.white-background{
    display: flex;
    background-color: white;
    background-size: cover;
    min-height: 100%;
    height: 90vh;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 0rem 3rem 0rem 0rem;
}

.search{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    position: relative;
   
}

  .img-fluid{
      max-width: 100%;
      height: auto;
  }
 .inputBox{
    border: none;
    box-shadow: 0rem 0.2rem 0.2rem 0rem #797979;
    border-radius: 1.25rem;
    margin-left: 1.25rem;
 }

 .searchIcon{
     margin-left: -3.2rem;
     margin-top: 0.5rem;
 }
 .category{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
     float: left;
     margin-left: 1rem;
 }
 .auto{
     align-items: center;
 }
 .sort{
     font-family: Arial, Helvetica, sans-serif;
     float: right;
     border: none;
     border-radius: 0.25rem;
     background: white;
     box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
 }

 .whiteButton{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0.25rem;
    background: white;
    box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
    margin: 0.9375rem 0.625rem;
    width: 6.25rem ;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
 .blueButton{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0.25rem;
    background: #5160E7;
    color: white;
    box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
    margin: 0.9375rem 0.625rem;
    width: 6.25rem ;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
 .everyButton{
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     flex-wrap: wrap;
     justify-content: space-around;
     align-content: center;
     align-items: center;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;

 }

.items-1{
    width: 2rem;
    height: 8rem;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle; 

}

.allapp{
    margin-top: 0.6rem;
}
.p{
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    float: center;
}
