<div class="white-background container">
    <!-- <alert type="success">hello</alert> -->
    <!-- <input type="text" class="btn btn-primary"> -->
    <!-- <button class="btn btn-info">test</button> -->
    <div class="search row">
        <div class="col-12">
            <div class="row">

                <div class="col-10 inputBox">
                    <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                        placeholder=ค้นหาแอปพลิเคชัน style="border: none;">
                </div>
                <div class="col-2 searchIcon">
                    <img src="assets/img/search.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="category col-6">
            หมวดหมู่:
        </div>
        <div class="col-6">
            <button class="sort">เรียงตาม
                <img src="assets/img/sort.png" class="img-fluid">
            </button>
        </div>
    </div>


    <div class="cat row">
        <div class="all col-12">
            <div class="everyButton">

                <button class="allButton">
                    ทั้งหมด
                    <img src="assets/img/all.png" class="img-fluid">
                </button>

                <button class="docButton">
                    เอกสาร
                    <img src="assets/img/document.png" class="img-fluid">
                </button>

                <button class="repairButton">
                    การซ่อม
                    <img src="assets/img/repair.png" class="img-fluid">
                </button>

                <button class="staticButton">
                    ยอดขาย
                    <img src="assets/img/static.png" class="img-fluid">
                </button>

            </div>
        </div>
    </div>
    <div class="allapp row">
        <div class="col-12">
            <div class="first row">
                <div class="items-1 col-4">
                    <img src="assets/img/ใบสรุปปัญหาเฉพาะหน้า.png" style="width: 50px; height: 50px; " class="img-fluid">
                    <p>ใบสรุปปัญหาเฉพาะหน้า</p>
                </div>
                <div class="items-2 col-4">
                    <img src="assets/img/เอกสารควบคุมการเปลี่ยนแปลง.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>เอกสารควบคุมการเปลี่ยนแปลง</p>
                </div>
                <div class="items-3 col-4">
                    <img src="assets/img/ยอดขาย.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ยอดขาย</p>
                </div>
            </div>

            <div class="second row">
                <div class="items-4 col-4">
                    <img src="assets/img/qr code.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>QR Code</p>
                </div>
                <div class="items-5 col-4">
                    <img src="assets/img/คืนเบิกวัตถุดิบ.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ระบบคืนเบิกวัตถุดิบ</p>
                </div>
                <div class="items-6 col-4">
                    <img src="assets/img/จับเวลาการผลิต.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ระบบจับเวลาการผลิต</p>
                </div>
            </div>

            <div class="third row">
                <div class="items-7 col-4">
                    <img src="assets/img/จัดการวัตถุดิบ.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ระบบจัดการวัตถุดิบ</p>
                </div>
                <div class="items-8 col-4">
                    <img src="assets/img/ระบบจัดการบุคคล.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ระบบจัดการบุคคล</p>
                </div>
                <div class="items-9 col-4">
                    <img src="assets/img/การสั่งซื้อ.png" style="width: 50px; height: 50px;" class="img-fluid">
                    <p>ระบบการสั่งซื้อวัตถุดิบ</p>
                </div>
            </div>
            
        </div>
    </div>


</div>